In [1]:
import pandas as pd
import numpy as np
%matplotlib inline
from IPython.display import display

In [5]:
pd.__version__

'1.4.4'

### Loading data premier league matches for 3 seasons

In [6]:
file_match = "match_pl_20230121.csv"

In [7]:
matches = pd.read_csv(file_match, index_col=0, sep=';')

In [78]:
matches

,date,time,comp,round,day,venue,result,gf,ga,opponent,...,match report,notes,sh,sot,dist,fk,pk,pkatt,season,team
0,13/08/2021,20:00,Premier League,Matchweek 1,Fri,Away,L,0.0,2.0,Brentford,...,Match Report,NaN,22.0,4.0,19.0,1.0,0.0,0.0,2022,Arsenal
0,13/08/2021,20:00,Premier League,Matchweek 1,Fri,Home,W,2.0,0.0,Arsenal,...,Match Report,NaN,8.0,3.0,12.1,0.0,0.0,0.0,2022,Brentford
0,14/08/2021,17:30,Premier League,Matchweek 1,Sat,Away,W,3.0,0.0,Norwich City,...,Match Report,NaN,19.0,6.0,17.3,1.0,0.0,0.0,2022,Liverpool
1,14/08/2021,15:00,Premier League,Matchweek 1,Sat,Home,W,3.0,0.0,Crystal Palace,...,Match Report,NaN,13.0,6.0,21.0,4.0,0.0,0.0,2022,Chelsea
0,14/08/2021,12:30,Premier League,Matchweek 1,Sat,Home,W,5.0,1.0,Leeds United,...,Match Report,NaN,16.0,8.0,18.2,0.0,0.0,0.0,2022,Manchester United
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
20,15/01/2023,14:00,Premier League,Matchweek 20,Sun,Away,L,0.0,1.0,Chelsea,...,Match Report,NaN,10.0,5.0,17.9,0.0,0.0,0.0,2023,Crystal Palace
28,18/01/2023,20:00,Premier League,Matchweek 7,Wed,Away,D,1.0,1.0,Crystal Palace,...,Match Report,NaN,15.0,4.0,19.5,1.0,0.0,0.0,2023,Manchester United
21,18/01/2023,20:00,Premier League,Matchweek 7,Wed,Home,D,1.0,1.0,Manchester Utd,...,Match Report,NaN,10.0,5.0,18.2,2.0,0.0,0.0,2023,Crystal Palace
29,19/01/2023,20:00,Premier League,Matchweek 7,Thu,Home,W,4.0,2.0,Tottenham,...,Match Report,NaN,16.0,6.0,16.3,1.0,0.0,0.0,2023,Manchester City
27,19/01/2023,20:00,Premier League,Matchweek 7,Thu,Away,L,2.0,4.0,Manchester City,...,Match Report,NaN,9.0,3.0,16.5,0.0,0.0,0.0,2023,Tottenham Hotspur

In [9]:
matches.columns

Index(['date', 'time', 'comp', 'round', 'day', 'venue', 'result', 'gf', 'ga',
       'opponent', 'xg', 'xga', 'poss', 'attendance', 'captain', 'formation',
       'referee', 'match report', 'notes', 'sh', 'sot', 'dist', 'fk', 'pk',
       'pkatt', 'season', 'team'],
      dtype='object')

In [64]:
cols = ['team', 'opponent', 'round', 'date', 'venue','time', 'result']

### Optimization of the memory used by the data

In [11]:
matches[cols].dtypes

team        object
round       object
date        object
venue       object
opponent    object
time        object
date        object
result      object
dtype: object

In [13]:
matches[cols].memory_usage(deep=True)

Index        9104
team        79467
round       78182
date        76246
venue       69418
opponent    76359
time        70556
date        76246
result      66004
dtype: int64

In [17]:
#chaining
(matches
 [cols]
 .memory_usage(deep=True)
 .sum()
)

601582

In [48]:
def investigate_column(column_name):
    return (matches
     [cols]
     [column_name]
     .value_counts(dropna=False)
    )

In [57]:
#investigate team and opponent columns
investigate_column(['team', 'opponent'])
#it looks like a categorical columns

team                     opponent
Wolverhampton Wanderers  West Ham           4
West Ham United          Wolves             4
Everton                  Southampton        4
Leeds United             Aston Villa        4
Crystal Palace           Chelsea            4
                                           ..
Bournemouth              Fulham             1
Nottingham Forest        Arsenal            1
Bournemouth              Leeds United       1
Southampton              Nott'ham Forest    1
Everton                  Bournemouth        1
Length: 484, dtype: int64

In [59]:
#chaining
(matches
 [cols]
 .assign(team = matches.team.astype('category'))
 .assign(team = matches.opponent.astype('category'))
 .memory_usage(deep=True)
 .sum()
)

449106

In [61]:
#investigate round column
investigate_column('round')
#it looks like a categorical columns

Matchweek 1     40
Matchweek 11    40
Matchweek 2     40
Matchweek 19    40
Matchweek 18    40
Matchweek 17    40
Matchweek 16    40
Matchweek 15    40
Matchweek 14    40
Matchweek 13    40
Matchweek 20    40
Matchweek 3     40
Matchweek 5     40
Matchweek 9     40
Matchweek 10    40
Matchweek 4     40
Matchweek 6     40
Matchweek 12    38
Matchweek 8     34
Matchweek 7     26
Matchweek 29    20
Matchweek 36    20
Matchweek 35    20
Matchweek 37    20
Matchweek 34    20
Matchweek 33    20
Matchweek 32    20
Matchweek 31    20
Matchweek 25    20
Matchweek 30    20
Matchweek 28    20
Matchweek 27    20
Matchweek 26    20
Matchweek 23    20
Matchweek 24    20
Matchweek 22    20
Matchweek 21    20
Matchweek 38    20
Name: round, dtype: int64

In [62]:
#chaining
(matches
 [cols]
 .astype({'team':'category','opponent':'category', 'round':'category'})
 .memory_usage(deep=True)
 .sum()
)

302681

In [51]:
#investigate date column
investigate_column('date')
#we need to convert it to datetime type

22/05/2022    20
03/09/2022    16
12/11/2022    16
20/11/2021    16
19/02/2022    16
              ..
14/03/2022     2
07/03/2022     2
01/03/2022     2
27/02/2022     2
19/01/2023     2
Name: date, Length: 179, dtype: int64

In [39]:
#chaining
(matches
 [cols]
 .astype({'team':'category', 'round':'category'})
 .assign(date = pd.to_datetime(matches.date, infer_datetime_format=True))
 .memory_usage(deep=True)
 .sum()
)

308661

In [54]:
#investigate venue column
investigate_column('venue')
#it looks like a categorical columns

Away    569
Home    569
Name: venue, dtype: int64

In [65]:
#chaining
(matches
 [cols]
 .astype({'team':'category', 'opponent':'category' ,'round':'category', 'venue':'category'})
 .assign(date = pd.to_datetime(matches.date, infer_datetime_format=True))
 .memory_usage(deep=True)
 .sum()
)

167489

In [67]:
#investigate time column
investigate_column('time')
#Let's only take the hours of the time columns

15:00    366
14:00    184
20:00    122
17:30     98
12:30     88
16:30     84
19:45     72
19:30     60
20:15     24
16:00     20
14:15      8
12:00      6
18:00      2
19:00      2
16:15      2
Name: time, dtype: int64

In [73]:
#chaining
(matches
 [cols]
 .astype({'team':'category', 'opponent':'category' ,'round':'category', 'venue':'category'})
 .assign(date = pd.to_datetime(matches.date, infer_datetime_format=True))
 .assign(hour = matches.time.str.replace(":.+", "", regex=True).astype("int"))
 .drop(columns = ['time'])
 .memory_usage(deep=True)
 .sum()
)

106037

In [74]:
#investigate time column
investigate_column('result')
#it looks like a categorical columns

L    439
W    439
D    260
Name: result, dtype: int64

In [75]:
#chaining
(matches
 [cols]
 .astype({'team':'category', 'opponent':'category' ,'round':'category', 'venue':'category', 'result':'category'})
 .assign(date = pd.to_datetime(matches.date, infer_datetime_format=True))
 .assign(hour = matches.time.str.replace(":.+", "", regex=True).astype("int"))
 .drop(columns = ['time'])
 .memory_usage(deep=True)
 .sum()
)

41453

In [76]:
def new_matches_df(matches):
    cols = ['team', 'opponent', 'round', 'date', 'venue','time', 'result']
    return (matches
 [cols]
 .astype({'team':'category', 'opponent':'category' ,'round':'category', 'venue':'category', 'result':'category'})
 .assign(date = pd.to_datetime(matches.date, infer_datetime_format=True))
 .assign(hour = matches.time.str.replace(":.+", "", regex=True).astype("int"))
 .drop(columns = ['time'])
)
new_matches = new_matches_df(matches)

In [77]:
new_matches

,team,opponent,round,date,venue,result,hour
0,Arsenal,Brentford,Matchweek 1,2021-08-13,Away,L,20
0,Brentford,Arsenal,Matchweek 1,2021-08-13,Home,W,20
0,Liverpool,Norwich City,Matchweek 1,2021-08-14,Away,W,17
1,Chelsea,Crystal Palace,Matchweek 1,2021-08-14,Home,W,15
0,Manchester United,Leeds United,Matchweek 1,2021-08-14,Home,W,12
...,...,...,...,...,...,...,...
20,Crystal Palace,Chelsea,Matchweek 20,2023-01-15,Away,L,14
28,Manchester United,Crystal Palace,Matchweek 7,2023-01-18,Away,D,20
21,Crystal Palace,Manchester Utd,Matchweek 7,2023-01-18,Home,D,20
29,Manchester City,Tottenham,Matchweek 7,2023-01-19,Home,W,20
27,Tottenham Hotspur,Manchester City,Matchweek 7,2023-01-19,Away,L,20

In [84]:
from IPython.display import display
#create a variable to display a intermediate state
def get_var(df, var_name):
    print('get_var')
    globals()[var_name] = df
    return df

In [87]:
def new_matches_df(matches):
    cols = ['team', 'opponent', 'round', 'date', 'venue','time', 'result']
    return (matches
 [cols]
 .pipe(get_var, 'original_df')
 .astype({'team':'category', 'opponent':'category' ,'round':'category', 'venue':'category', 'result':'category'})
 .assign(date = pd.to_datetime(matches.date, infer_datetime_format=True))
 .assign(hour = matches.time.str.replace(":.+", "", regex=True).astype("int"))
 .drop(columns = ['time'])
#  .pipe(lambda df: display(df) or df)
)
new_matches = new_matches_df(matches)

get_var

In [88]:
original_df

,team,opponent,round,date,venue,time,result
0,Arsenal,Brentford,Matchweek 1,13/08/2021,Away,20:00,L
0,Brentford,Arsenal,Matchweek 1,13/08/2021,Home,20:00,W
0,Liverpool,Norwich City,Matchweek 1,14/08/2021,Away,17:30,W
1,Chelsea,Crystal Palace,Matchweek 1,14/08/2021,Home,15:00,W
0,Manchester United,Leeds United,Matchweek 1,14/08/2021,Home,12:30,W
...,...,...,...,...,...,...,...
20,Crystal Palace,Chelsea,Matchweek 20,15/01/2023,Away,14:00,L
28,Manchester United,Crystal Palace,Matchweek 7,18/01/2023,Away,20:00,D
21,Crystal Palace,Manchester Utd,Matchweek 7,18/01/2023,Home,20:00,D
29,Manchester City,Tottenham,Matchweek 7,19/01/2023,Home,20:00,W
27,Tottenham Hotspur,Manchester City,Matchweek 7,19/01/2023,Away,20:00,L